

<%  @word = secret_word() %> 
<br>
<br>
<form method="post" action="get_letter">
    <input type="text" name="@letter">
 	<input type="hidden" name="@word">
    <br>
    <br>
    <input type="submit">
</form>
