Hello player please enter a letter you think is in the secret word.
<form method="post" action="get_letter">
    <input type="text" name="letter">
 
    <br>
    <br>
    <input type="submit">
</form>
