
<!DOCTYPE html>
<html>
<head>
<script>

function startTime() {
    var d = new Date();
    document.getElementById('txt').innerHTML = d
     var t = setTimeout(startTime, 500);
}

</script>
</head>

<body onload="startTime()">

<div id="txt"></div>

<center><h2> Let us try a game of flower petal hangman. You get 10 wrong guesses.
 <h2></center>
    <img class="irc_mi" src="http://pngimg.com/uploads/tree/tree_PNG3498.png" alt="Image result for trees png" style="float:left; width="304" height="500" >

 	<img class="irc_mi" src="http://bestanimations.com/Animals/Insects/Butterflys/butterfly-animated-gif-45.gif" alt="Image result for garden gifs" width="200" height="200" style="margin-top: 0px;">
 	<br>

<center> <img src='/img/hangman10.png' style="width:200px;height:180px;"> </center>
<br> 

	<center>Please enter a letter:</center>



 	<center><form method="post" action="letter_choice">
     <input type="text" name="letter">
    <input type="hidden" name="secret_word" value="<%=secret_word%>">
    <input type="hidden" name="correct_word" value="<%= correct_word%>">
    <input type="hidden" name="turns" value="<%= turns%>">
    <input type="hidden" name="guessed_letters" value="<%= guessed_letters%>">
   	<br>
 	<br>
 <input type="submit">
</form>
</center>
<img class="irc_mi" src="http://bestanimations.com/Animals/Insects/Bees/bee-animated-gif-31.gif" width="150" height="100" style="margin-top: 20px;" alt="Image result for animated bee images">


